.Container {
    width: auto;
    height: auto;
    padding-top: 20px;
}

.Row {
    display: flex;
    justify-content: center;
}

.Level {
    text-align: center;
    font-size: 19px;
    padding: 10px;
    color: coral;
}