.Button {
    text-transform: capitalize;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid lightgray;
    margin: 2px;
    background-color: lightsteelblue;
}

.ButtonWrapper {
    display: contents;
    svg {
        padding-right: 0;
    }
}