.MarkerInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    bottom: 14px;
    position: fixed;
    right: 7vw;
    background: lightsteelblue;
    padding: 2px;
}
.Danger {
    color: red;
}

.Warning {
    color: yellow;
}

.Success {
    color: green;
}